.l-header {
	position: fixed;
	width: 100%;
	background: $color-header-bg;
	top: 0;
	left: 0;
	height: $header-height;
	z-index: map-get($layer, "header");

	@include mq(tab) {
		height: $header-height-sp;
	}
}

