  <footer class="footer">
    <div class="inner footer-inner">

      <p class="footer-copy">Copyright &copy; 2020 タイトル All Rights Reserved.</p><!-- /copy -->

    </div><!-- /inner -->
  </footer><!-- /footer -->



  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="./js/script.js"></script>
</body>

</html>