<% var title = 'タイトル'; %>
<% var description = 'ディスクリプション'; %>
<% var keywords = 'キーワード'; %>
<% var logo_tag = 'h1'; %>
<% var path = '.'; %>
<% var page_name = 'home' %>
<%- include('common/_header', {title:title, description:description, keywords:keywords, path:path, logo_tag:logo_tag, page_name:page_name}); %>


  <div class="mv">
    <div class="inner">

    </div><!-- /inner -->
  </div><!-- /mv -->


  <main class="content">

  </main><!-- /content -->

<%- include('common/_footer'); %>