// 使用する色
$black: #333;
$white: #fff;
$red: #f00;
$gray: #b2b2b2;

// 用途による色
$color-important: $red;
$color-disable: #b2b2b2;

// ベース色
$color-main: #24a2b3;
$color-secondary: #aa8f7b;

// 背景
$color-bg: $white;
$color-header-bg: $white;
$color-footer-bg: #292929;

// テキスト色
$color-text: $black;

// 透過度
$opacity: 0.7;

// テーブル
$color-table: #eee;

