$color-form-bd: #707070;
$color-form-bd_active: #707070;

$color-check: #707070;
$color-check_active: $color-main;

$size-checkbox: 1.5em;
$size-checkbox-pd_left: 2em;

$size-radio: 26px;
$size-radio_active: 10px;
$size-radio-pd_left: 30px;
