// レイアウト幅
$layout-width-canvas: 1440px;
$layout-width-container: 1320px;
$layout-width-menu: 1024px;
$layout-width-pc: 960px;
$layout-sp-vw: 559px;

// ブレークポイント
$breakpoints: (
  "sp": "(max-width: #{$layout-sp-vw})",
  "tab-only": "(min-width: #{$layout-sp-vw + 1px}) and (max-width: #{$layout-width-pc - 1px})",
  "tab": "(min-width: #{$layout-sp-vw + 1px})",
  "pc-down": "(max-width: #{$layout-width-pc - 1px})",
  "pc": "(min-width: #{$layout-width-pc})",
  "ie": "(-ms-high-contrast: active), (-ms-high-contrast: none)",
  "menu-sp": "(max-width: #{$layout-width-menu})",
  "menu": "(min-width: #{$layout-width-menu + 1px})",
);

// ヘッダー高さ
$header-height: 80px;
$header-height-sp: 60px;

// z-index の指定
$layer: (
  modal: 100,
  drawer: 40,
  floating: 30,
  header: 20,
  footer: 10,
  default: 1,
);

// 余白
$pd-tab: 20px;
$pd-sp: 20px;
