@mixin lv1_2-headingBase {
  text-align: center;

  & > span {
    display: block;
    text-transform: uppercase;
    font-family: $ff-subTile;
  }
}

.c-lv1Heading {
  @include lv1_2-headingBase;
}

.c-lv2Heading {
  @include lv1_2-headingBase;
}
