.c-totop {
  display: block;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease 0s;
  width: 5rem;
  height: 5rem;
  background-color: $color-secondary;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%) rotate(-45deg);
    width: 2rem;
    height: 2rem;
    border-top: 3px solid $white;
    border-right: 3px solid $white;
  }

  &.is-active {
    visibility: visible;
    opacity: 1;

    &:hover,
    &:focus {
      opacity: $opacity;
    }
  }
}
