// 色
$drawer-bar-background: #333;
$drawer-bar-font-color: $white;
$drawer-content-background: transparent;
$drawer-content-font-color: $white;
$drawer-background-color: rgba(140, 118, 101, 0.9);

// サイズ
$drawer-bar-space: 5px;
$drawer-bar-width: 24px;
$drawer-bar-height: 3px;
$drawer-content-width: 200px;

// 表示
$is-bar-text-show: false;

.drawer {
  z-index: map-get($layer, "drawer");
}

.drawer-close {
  display: none;
  position: fixed;
  z-index: map-get($layer, "drawer") - 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: all 0.3s ease 0s;

  &.is-opened {
    display: block;
    opacity: 0.4;
  }
}

.drawer-icon {
  display: inline-block;
  position: relative;
  z-index: map-get($layer, "drawer") + 1;
  text-align: center;
  cursor: pointer;

  &::after {
    content: "MENU";

    @if $is-bar-text-show {
      display: block;
    } @else {
      display: none;
    }
    color: $drawer-bar-font-color;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1;
    margin-top: 4px;
    font-weight: 700;
    min-width: 5em;
  }

  &.is-opened {
    &::after {
      content: "CLOSE";
    }
  }
}

.drawer-bars {
  display: inline-block;
  width: $drawer-bar-width;
  height: $drawer-bar-height + ($drawer-bar-space + $drawer-bar-height) * 2;
  position: relative;
  vertical-align: bottom;
}

.drawer-bar {
  top: $drawer-bar-height + $drawer-bar-space;
  // top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(to right, transparent 0%, transparent 4px, $drawer-bar-background 4px, $drawer-bar-background 100%);

  &,
  &::before,
  &::after {
    position: absolute;
    display: block;
    width: 100%;
    height: $drawer-bar-height;
    border-radius: 3px;
    transition: all 0.3s linear 0s;
  }

  &::before,
  &::after {
    content: "";
  }

  &::before {
    top: -$drawer-bar-height - $drawer-bar-space;
    background: $drawer-bar-background;
    // top: 0;
  }

  &::after {
    top: $drawer-bar-height + $drawer-bar-space;
    background: linear-gradient(to right, transparent 0%, transparent 8px, $drawer-bar-background 8px, $drawer-bar-background 100%);
  }

  .is-opened & {
    background: transparent;

    &::before {
      top: 8px - $drawer-bar-height - $drawer-bar-space;
      transform: rotate(-45deg);
      background: $white;
    }

    &::after {
      top: 8px - $drawer-bar-height - $drawer-bar-space;
      transform: rotate(45deg);
      background: $white;
    }
  }
}

@include mq(menu-sp) {
  .drawer-bg {
    transition: all 0.3s ease 0s;

    &.is-opened {
      background: $drawer-background-color;
      height: 100vh;
      width: 100vw;
      position: fixed;
      top: 0;
      left: 0;
    }
  }
  .drawer-content {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    transform: translateX(105%);
    z-index: map-get($layer, "drawer");
    width: $drawer-content-width;
    max-width: 90%;
    height: 100%;
    background: $drawer-content-background;
    transition: all 0.5s ease 0s;
    padding-top: $header-height-sp;
    padding-left: 20px;
    padding-right: 20px;
    color: $drawer-content-font-color;

    &.is-opened {
      transform: translateX(0);
      box-shadow: 6px 0 25px rgba(#000, 0.16);
    }
  }

  .drawer-content--left {
    transform: translateX(-105%);
    left: 0;
    right: auto;
  }

  .drawer-content--top {
    transform: translateY(-105%);
    top: 0;
    bottom: auto;
    width: 100%;
    height: 100%;
    max-width: 100%;
  }

  .drawer-content--cover {
    width: 100%;
    height: 100%;
    max-width: 100%;
  }
}
