.p-alternate {
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq(sp) {
      display: block;
    }

    &-primary {
      flex: 0 0 50%;
    }

    &-secondary {
      flex: 0 1 auto;

      @include mq(sp) {
        max-width: 525px;
        margin: 0 auto;
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;

      & .p-alternate__item-primary {

        @include mq(sp) {
          // margin-left: 0;
        }
      }

      & .p-alternate__item-secondary {
      }
    }
  }
}
