.p-alternate {
  @at-root (without: all) {
    & {
    }

    .p-alternate__item {
      & + & {
        margin-top: 60px;

        @include mq(tab) {
          margin-top: 80px;
        }
      }

      @include mq(tab) {
        display: flex;
        justify-content: center;
        align-items: center;

        &:nth-child(even) {
          flex-direction: row-reverse;

          & .p-alternate__itemPrimary {
            margin-left: (60/1280 * 100%);
          }

          & .p-alternate__itemSecondary {
            margin-left: 0;
          }
        }
      }
    }

    .p-alternate__itemPrimary {
      @include mq(tab) {
        flex: 0 0 (610/1280 * 100%);
      }
    }

    .p-alternate__itemSecondary {
      margin-top: 30px;

      @include mq(tab) {
        flex: 0 1 auto;
        margin-left: (60/1280 * 100%);
        margin-top: 0;
      }
    }

    .p-alternate__itemTitle {
      font-size: 20px;

      @include mq(tab) {
        font-size: 24px;
      }
    }

    .p-alternate__itemText {
      font-size: 15px;
      font-weight: $fw-regular;
      margin-top: 29px;
      line-height: (30/15);

      @include mq(tab) {
        margin-top: 39px;
      }
    }

    .p-alternate__itemFooter {
      margin-top: 30px;
      text-align: center;

      @include mq(tab) {
        margin-top: 60px;
        text-align: left;
      }
    }
  }
}
