.p-header {
  display: flex;
  align-items: center;
  height: 100%;

  @include mq(menu) {
  }
}

.p-header__logo {
  margin-right: auto;
  color: $color-main;
  width: 110px;
  z-index: map-get($layer, drawer) + 1;
  line-height: 1;

  @include mq(menu) {
    width: 145px;
    margin-left: 4rem;
  }

  &.drawer-opened {
    color: $white;
  }

  a {
    transition: all 0.3s ease 0s;

    &:hover,
    &:focus {
      opacity: $opacity;
    }
  }
}

.p-header__content {
  @include mq(menu) {
    display: flex;
    align-items: center;
    color: $color-text;
    height: 100%;
  }
}

.p-header__nav {
  ul {
  }

  li {
    & > a {
      text-decoration: none;
      color: inherit;
      display: block;
      transition: all 0.3s ease 0s;

      &:hover,
      &:focus {
        opacity: $opacity;
      }
    }

    @include mq(menu-sp) {
      border-top: 1px solid $color-secondary;
      position: relative;

      & + li {
        border-bottom: 1px solid $color-secondary;
      }

      & > a {
        padding: 20px 9px;

        &::after {
          content: "";
          display: block;
          width: 20px;
          height: 5px;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%) skewX(45deg);
          border-style: solid;
          border-width: 1px;
          border-color: transparent $white $white transparent;
        }
      }
    }

    @include mq(menu) {
      & > a {
        padding: 0.5em 0;
      }
    }
  }

  @include mq(menu) {
    ul {
      display: flex;
      align-items: center;
    }

    li {
      & + li {
        margin-left: 4rem;
      }
    }
  }
}

.p-header__cta {
  display: flex;

  @include mq(menu-sp) {
    margin-top: 20px;
  }

  @include mq(menu) {
    margin-left: 4rem;
    height: 100%;
  }
}

.p-header__btn {
  border: 1px solid transparent;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: initial;

  &:hover,
  &:focus {
    border-color: currentColor;
    background: $white;
  }

  @include mq(menu-sp) {
    width: 50%;
    padding: 23px 0;
  }

  @include mq(menu) {
    padding: 0 26px;
    height: 100%;
  }
}

.p-header__btn--cart {
  background-color: $color-main;

  &:hover,
  &:focus {
    color: $color-main;
  }
}

.p-header__btn--mail {
  background-color: $color-secondary;

  &:hover,
  &:focus {
    color: $color-secondary;
  }
}

.p-header__drawer {
  display: block;

  @include mq(menu) {
    display: none;
  }
}
