/************************************************************************
* 基本形
************************************************************************/
.p-media {
  @include mq(pc) {
    display: flex;
    align-items: flex-start;
  }
}

.p-media__img {
  position: relative;
  height: 0;
  padding-top: (200/380 * 100%);
  overflow: hidden;

  @include mq(pc) {
    flex: 0 0 (380/1280 * 100%);
    padding-top: (200/380 * 380/1280 * 100%);
  }

  & > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease 0s;
  }
}

.p-media__body {
  margin-top: 30px;

  @include mq(pc) {
    margin-top: 0;
    margin-left: 3.33333%;
  }

  & > * + * {
    margin-top: 1rem;
  }

  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.p-media__date {
  font-size: 1.4rem;
}

.p-media__title {
  font-size: 2rem;
}

.p-media__lead {
  font-size: 1.8rem;
}

.p-media__text {
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: $fw-regular;
}

.p-media__footer {
  margin-top: 38px;
  font-weight: $fw-bold;
}

/************************************************************************
* modifier
************************************************************************/
// 逆位置 -------------------------------------------------------------------
.p-media--reverse {
  flex-direction: row-reverse;

  & .p-media__img {
    margin-left: 3.33333%;
  }

  & .p-media__body {
    margin-left: 0;
    text-align: right;
  }
}

// link -------------------------------------------------------------------
.p-media--link {
  display: block;
  color: currentColor;
  text-decoration: none;
  transition: all 0.3s;

  &:hover,
  &:focus {
    & img {
      transform: translateY(-50%) scale(1.1);
    }
  }
}
