.p-section {

  &:nth-of-type(even) {
    background-color: #f7f6f5;
  }
}

.p-section__content {
  padding-top: 6rem;
  padding-bottom: 11.7rem;

  @include mq(pc) {
    padding-bottom: 10rem;
  }
}

.p-section__title {
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.15em;

  & > span {
    display: block;
    text-transform: uppercase;
    font-family: $ff-subTile;
    font-weight: $fw-bold;
    color: $color-secondary;
    letter-spacing: 0.05em;
    font-size: 14px;
  }

  @include mq(pc) {
    font-size: 24px;

    & > span {
      font-size: 15px;
    }
  }
}

.p-section__main {
  margin-top: 30px;

  @include mq(pc) {
    margin-top: 60px;
  }
}

.p-section__lead {
  text-align: center;
  font-size: 15px;
  line-height: (30/15);
}


.p-section__title.p-cta__title {
  & > span {
    color: inherit;
  }
}
